body {
  background-color: #611427;
  font-family: 'Roboto';
}

h1 {
  text-align: center;
  letter-spacing: 0.3em;
  font-size: 3em;
}

.vertalign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}